<!-- *** example map grabbed from Google *** -->
<!-- my API key= AIzaSyA0FgOhga7HIeYfO6_dMTsHk0-t_27zq9E -->

<!DOCTYPE html>
<html>
  <head>
    <title>Clement's Map App</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="./styles.css" type="text/css">
  </head>
  <body>
    <div id="map"></div>
    <br>
    <article><p>Enter a latitude and longitude or street address</p>
    </article>
    <div>
      <form action="/latlong" method="post" class="latLongInputForm">
        <input type="text" name="userLat" placeholder="enter latitude">
        <br>
        <input type="text" name="userLong" placeholder="enter longitude">
        <br>
        <input type="submit" value="Map it!">
      </form>
      <br>
      <form action="/streetaddress" method="post" class="addressInputForm">
        <input type="address" name="addressInput" placeholder="enter address">
        <br>
        <input type="text" name="cityInput" placeholder="enter city">
        <br>
        <input type="text" name="stateInput" placeholder="enter state">
        <br>
        <input type="submit" value="Map it!">
      </form>
    </div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: {{lat}}, lng: {{long}}},
          // 35.993017   -78.904614
          zoom: 15
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0FgOhga7HIeYfO6_dMTsHk0-t_27zq9E&callback=initMap"
    async defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0FgOhga7HIeYfO6_dMTsHk0-t_27zq9E&libraries=geometry">
</script>
  </body>
</html>
